# Python cache and compiled files
lib/__pycache__/*.pyc
*.pyc

# Build and dist directories from pip/setuptools/conda
build/
dist/
*.egg-info/

# Old patterns
lib/pycache/*
pycache/*

# OS-specific
.DS_Store
Thumbs.db


# Flask stuff:
instance/
.webassets-cache

# Secret key
.env

# Quarto files
docs/.quarto/
docs/_site/
